Flask==3.0.3
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.32
python-dotenv==1.0.1
gunicorn==22.0.0
click==8.1.7
requests==2.32.3
langchain
langchain-openai
pydantic>=2.0.0
flask-swagger-ui>=4.11.1
Flask-SocketIO==5.3.6
gevent==23.9.1
gevent-websocket==0.10.1
